<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/admin/mainAdminCss.css">
    <link rel="stylesheet" type="text/css" href="/admin/adminViewCss.css">
    <title>About Us - View</title>
</head>

<body>
      <!-- NAVIGATION BAR -->
      <%- include('adminPartials/adminNav.ejs', { activePage: 'home' }); %>
    <main>
        <h1 style="margin-left: 35%; color: #20A98C;">Pet Information Page</h1>

        <div class="animal-details">
            
            <h2>Buddy's Profile</h2>
            <div class="profilePicContainer">
                <img id="imagePreview" src="/images/petDesc/buddy4.png" alt="Current Image" width="200px">
            </div>
            <p><strong>Animal's ID:</strong> <%= animal.animal_id%></p>
            <p><strong>Name:</strong> <%= animal.name%></p>
            <p><strong>Species:</strong> <%= animal.species%></p>
            <p><strong>Breed:</strong> <%= animal.breed%></p>
            <p><strong>Age:</strong> <%= animal.age%></p>
            <p><strong>Sex:</strong> <%= animal.sex%></p>
            <p><strong>Characteristics:</strong> <%= animal.characteristics%></p>
            <p><strong>Health Status:</strong> <%= animal.health_status%></p>
            <p><strong>Arrival Date:</strong> <%= animal.arrival_date%></p>
            <p><strong>Adoption Status:</strong> <%= animal.adoption_status%></p>
            <p><strong>Special Needs:</strong> <%= animal.special_needs ? animal.special_needs : 'N/A' %></p>
            <p><strong>Adoption Date:</strong> <%= animal.adoption_date ? animal.adoption_date : 'N/A' %></p>
            <p><strong>Birthday:</strong> <%= animal.birthday%></p>
            <p><strong>Notes:</strong> <%= animal.notes%></p>
            <p><strong>Size:</strong> <%= animal.size%></p>
            <p><strong>Location Rescued:</strong> <%= animal.location_rescued%></p>
            <p><strong>Description:</strong> <%= animal.description%></p>
            <p><strong>Is Desexed:</strong> <%= animal.is_desexed%></p>

            <h2>Pet's Medical Record</h2>
            <p><strong>Vaccination Type:</strong> Rabies</p>
            <p><strong>Vaccination Date:</strong> 2024-10-14</p>
            <p><strong>Vaccination Dose:</strong> 1</p>
            <div class="buttonContainer">
                <a href="http://localhost:3000/admin/adminTable" class="backButton">Back</a>
            </div>
        </div>
    </main>
</body>
</html>